h4 Welcome to Findr
p Findr can be used to search for Flickr photos using the Flickr API. To start searching enter a keyword into the search bar in the menu above. Searches may take a few moments to complete.