#logo{
	width: 45px;
	float: left;
	padding-top: 12px;
	margin-left: -8px;
	margin-right: 50px;
}

#brand{
	background-color: transparent;
	font-weight: bold;
	font-size: 40px;
	padding-top: 20px;
}

#q{
	margin-top: 15px;
	height: 30px;
	margin-right: 5px;
}

.navbar-inner{
	max-height: 60px;
	padding-left: 100px;
}